.page-section {
  padding: 100px 0;
}
@media (min-width: 768px) {
  .page-section {
    padding: 150px 0;
  }
}

.section-header

h2.section-heading {
font-size: 40px;
margin-top: 0;
margin-bottom: 15px;
}
